* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #2E332E;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 1;
}

.logo img {
    width: 140px;
    height: 55px;
    margin-top: 0px;
    text-decoration: none;
}

.direita a {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 25px;
}

.instagram img{
    width: 50px;
    height: 40px;
    vertical-align: middle;
}

#meio {
    margin-top: -4px;
    background: repeating-linear-gradient(45deg, beige 0, rgb(241, 241, 204) 10px, beige 10px, rgb(241, 241, 204) 15px);
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.image-row {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 100px;
}

.image-row img {
    width: 500px;
    height: 500px;
    box-shadow: 1px 1px 7px black;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.escrita {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.escrita h1 {
    font-size: 40px;
    margin-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.8px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.escrita h2 {
    text-indent: 40px;
    width: 75%;
    word-wrap: break-word;
    margin-left: 100px;
    font-size: 25px;
    opacity: 0.7;
}

.titulo h1 {
    margin-top: 130px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.8px;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    margin-bottom: 20px;
}

.fale {
    width: 400px;
    margin-bottom: 120px;
    margin-top: 60px;
    margin-left: -80px;
}

form {
    margin-top: 10px;
}

input {
    width: 470px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #E7E7E4;
}

#botao {
    width: 272px;
    height: 50px;
    background: #4C1333;
    color: white;
    font-size: 20px;
}

textarea {
    display: block;
    margin-bottom: 30px;
    width: 470px;
    height: 140px;
    background: #E7E7E4;
}

label, textarea {
    display: block;
    font-size: 20px;
}

.barra {
    width: 2px;
    height: 550px;
    background: rgb(234, 228, 228);
    margin-left: 270px;
    margin-right: 170px;
}

.infos {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    margin-top: -35px;
}

.linha {
    width: 100%;
    height: 2px;
    background: rgb(234, 228, 228);
    margin-top: 20px;
    margin-bottom: 40px;
}

h3 {
    position: relative;
    font-size: 25px;
    line-height: 15.66px;
    word-wrap: break-word;
    margin-bottom: 20px;
    margin-left: 3px;
}

p {
    position: relative;
    font-size: 20px;
    word-wrap: break-word;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 5px;
}

.infos a img {
    position: relative;
    margin-left: 60px;
    width: 190px;
    height: 170px;
    box-shadow: 0px 0px 0px 0px;
    margin-top: 20px;
}

#foto-escrita {
    width: 100%;
}

footer {
    background: #2E332E;
    color: white;
    text-align: left;
    padding: 20px 50px;
    position: relative;
    top: auto;
    width: 100%;
    height: 100px;
}

.direitos {
    font-size: 20px;
    font-weight: 500;
    line-height: 17.66px;
    align-items: center;
    word-wrap: break-word;
    margin-top: 20px;
}
