
.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0px;
    overflow: hidden;
    margin-top: 65px;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 25%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #245a24;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 30px;
}

.nav-manual .manual-btn:hover {
    background-color: #22c022;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #22c022;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

#fotos {
    width: 100%;
    height: 350px;
}
